@model AzureTraining.Web.Models.DocumentViewViewModel

@Model.Document.Name

<ul class="thumbnails">
    @for (var page = 0; page < Model.Document.PagesCount; page++)
    {
    <li class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h3>@(page+1)</h3>
                <p>
                    @Html.ActionLink("View", MVC.Documents.ViewDocumentPage(Model.Document.Name, Model.Document.DocumentId, page), new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </li>
    }
</ul>
