@model AzureTraining.Web.Models.DocumentViewViewModel

<div class="row">     
    <div class="span12">         
        <h4>@Model.Document.Name</h4>             
    </div> 
</div>

<div class="control-group">
    <textarea readonly="readonly" class="file-preview">
        @Model.PageContent
    </textarea>
</div>                  

<div class="row">     
    <div class="span12">         
        <h4>@(Model.PageNumber + 1)</h4>             
    </div> 
</div>

<div class="main-content">
    @for (var page = 0; page < Model.Document.PagesCount; page++)
    {
        @Html.ActionLink((page + 1).ToString(), MVC.Documents.View(Model.Document.DocumentId, page), new { @class = "btn btn-primary page-button" })
    }
</div>
