<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLogDataSource" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <appSettings>
    <add key="QLogArea" value="QTrace" />
    <add key="QLogAsync" value="False" />
  </appSettings>
</configuration>