@model AzureTraining.Web.Models.DocumentPageViewViewModel

<div class="control-group">
    <textarea readonly class="file-preview">
        @Model.Text
    </textarea>
</div>
<h4>@(Model.Page + 1)</h4>

@Html.ActionLink("Another page", MVC.Documents.View(Model.DocumentId), new { @class = "btn btn-primary" })
