
@model AzureTraining.Web.Models.DocumentsListViewModel

<table>
        <thead>
            <tr>
                <th>Name</th>
                <th>IsShared</th>
            </tr>
           </thead>
@foreach (var doc in Model.Documents)
{
    <tr>
        <td>
            @doc.Name
        </td>
        <td>
            @doc.IsShared
        </td>
    </tr>
}
</table>